
<div class="container">
<div class="row ">
    <div class="col-6 mx-auto">
        <div class="card border-secondary">
            <div class="card-body">
                <div class="card-header bg-dark text-white border-secondary">
                    <h3>ChatBot GPI</h3>
                </div>

                <div class="card-body text-left overflow-auto" #cuerpoTarjeta id="cuerpoTarjetita">
                    <p style="color:rgb(128, 128, 128)" class="text-center">¡Bienvenido al Chat!</p>
                </div>

                <div class="card-footer border-secondary bg-transparent">
                    <form id="mensajeForm" >
                        <div class="input-group">
                            <input type="text" class="form-control"  [(ngModel)]="mensajeCliente" [ngModelOptions]="{standalone: true}" />
                            <div class="input-group-append">
                                <button class="btn btn-dark" (click)="enviarMensaje()" >
                                    Enviar <i class="far fa-comment"></i>
                                </button>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>


