
/*
  estilo del cuerpo de la tarjeta, donde van los dialogos del chat
*/
#cuerpoTarjeta{
  height: 350px;
  border-left-style: dashed;
  border-right-style: dashed;
  border-width: 1px;
  border-color: grey;
}

#cuerpoTarjeta::-webkit-scrollbar-track
{
border-radius: 10px;
background-color: #F5F5F5;
}

#cuerpoTarjeta::-webkit-scrollbar
{
width: 12px;
background-color: #F5F5F5;
}

#cuerpoTarjeta::-webkit-scrollbar-thumb
{
border-radius: 10px;
background-color: rgb(68, 65, 65);
}
